/*  [O R D E N]  [E N]  [C S S]
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros */

:root {
    --light-blue: #BFD6E8;
    --dark-blue: #1D2D44;
    --base-color1: #111B34;
    --brand-color: #BFD7EAF5;
    --burning-coral: #FF5A5F;
    --background-color3: #F1F8FF;
    --brand-color2: #C81D25;
    --clear-sky-dark3: #9CB8D4;
    --clear-sky-light2: #E2F2FB;
    --clear-sky-light3: #D9E9F5;
}

/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 62.5%; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--base-color1);
}

header {
    display: flex;
    margin: 28px;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    place-self: center;
}

header>figure img {
    width: 83%;
}

header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

header .header-btns-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .header-btns-container>figure {
    display: inline-block;
    /* O 'block' si prefieres */
    width: fit-content;
    /* Se ajusta al tamaño de la imagen */
    height: auto;
    /* Ajuste automático de altura */
    margin: 0;
    /* Opcional, para evitar espacios adicionales */
}

header .header-btns-container>figure img {
    border-radius: 50%;
    display: block;
    /* Evita espacios adicionales por imágenes en línea */
    width: auto;
    /* O 100% si necesitas responsividad */
    height: auto;
    /* Mantiene la proporción */
}

header .header-btns-container .sign-in {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9999px;
    border: 1px solid #2D2B2B;
    background-color: var(--brand-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

button {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9999px;
    border: none;
    background-color: var(--burning-coral);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--base-color1);
    cursor: pointer;
    z-index: 200;
    font-family: 'Poppins', sans-serif;
}

input {
    width: 490px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.62);
    background: #FFF;
}

.anchor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: none;
    background-color: var(--burning-coral);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--base-color1);
    cursor: pointer;
    z-index: 200;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
}

main {
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-self: center;
    overflow: hidden;
}

main>* {
    width: 85vw;
}

main .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: auto;
}

main .hero .texts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
}

main .hero .texts h1 {
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 74px;
    color: white;
    width: 60%;
}

main .hero .texts h1 span {
    color: var(--burning-coral);
}

main .hero .texts h4 {
    font-size: 36px;
    color: white;
    width: 55%;
    font-weight: 400;
}

main .hero .texts button {
    padding: 10px;
    width: 30%;
    font-size: 24px;
    font-weight: 700;
    color: var(--base-color1);
}

main .hero .boat {
    position: relative;
    height: 500px;
    width: 500px;
}

main .hero .boat .sun {
    position: absolute;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 500px;
    background: var(--burning-coral);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    z-index: 7;
}

main .hero .boat figure {
    position: absolute;
    top: 10px;
    left: 34px;
    z-index: 11;
}

main .wave {
    width: 100%;
    position: relative;
    z-index: 10;
    bottom: 190px;
    left: -65px;
    z-index: 7;
}

main .wave img {
    width: 117%;
}

main section {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 11;
    bottom: 510px;
    width: 100%;
    height: 2325px;
    background: linear-gradient(180deg, #DCE8FA 0%, #BCD4F6 10%, #325798 63.68%, #111B34 100%);
}

main section h2 {
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 54px;
    color: var(--base-color1);
    width: auto;
    text-align: center;
    margin-bottom: 56px;
}

main section>div {
    margin-bottom: 100px;
}

main .activities {
    display: flex;
    flex-direction: column;
    width: auto;
}

main .activities .cards-container {
    display: flex;
    gap: 75px;
    place-self: center;
    max-width: 1135px;
}

main .activities .cards-container .card {
    flex-direction: column;
    display: flex;
    width: 320px;
    height: 373px;
    padding-bottom: 28px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: var(--background-color3);
}

main .activities .cards-container .card figure img {
    border-radius: 16px 16px 0px 0px;
}

main .activities .cards-container .card div {
    display: flex;
    place-self: center;
    flex-direction: column;
    margin: 16px 37.5px 0;
    /* width: 70%; */
}

main .activities .cards-container .card div h6 {
    font-size: 22px;
    font-weight: 700;
}

main .map {
    width: auto;
}

main .map h2 span {
    color: var(--brand-color2);
}

main .map figure {
    place-self: center;
    max-width: 1135px;
}

main .map figure img {
    border-radius: 16px;
}

main .prices {
    display: flex;
    flex-direction: column;
    width: auto;
}

main .prices .prices-content {
    display: flex;
    place-self: center;
    max-width: 1135px;
    height: 420px;
    border-radius: 16px;
    background-color: var(--background-color3);
}

main .prices .prices-content figure img {
    border-radius: 16px 0 0 16px;
}

main .prices .prices-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 84px;
}

main .prices .prices-content div h3 {
    font-family: "Luckiest Guy";
    font-size: 42px;
    color: var(--base-color1);
    width: 80%;
    text-align: center;
}

main .prices .prices-content div button {
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
    width: 50%;
}

main .team>div {
    max-width: 1135px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color3);
    padding: 60px 170px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    place-self: center;
}

main .team>div figure img {
    border-radius: 50%;
}

main .team>div .team-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main .team>div .team-info h5 {
    font-family: "Luckiest Guy";
    font-size: 32px;
    color: var(--base-color1);
}

main .team>div .team-info P {
    font-size: 16px;
    font-weight: 600;
    width: 90%;
}

main .team>div button {
    padding: 12px;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 99vw;
    padding: 50px 96px 32px;
    gap: 28px;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
}

footer .footer-content div {
    display: flex;
    flex-direction: column;
}

footer .footer-content div h5 {
    color: var(--background-color3);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 42px;
}

footer .footer-content div p {
    color: var(--clear-sky-dark3);
    font-size: 20px;
    font-weight: 500;
    width: 75%;
    margin-bottom: 42px;
}

footer .footer-content div a {
    /* color: white; */
    color: var(--burning-coral);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

footer hr {
    border: 1px solid var(--brand-color);
}

footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .footer-info p {
    color: var(--background-color3);
    font-size: 16px;
    font-weight: 600;
}

footer .footer-info div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

main .fade-container {
    height: auto;
    background: linear-gradient(180deg, #BCD4F6 0%, #325798 66.71%, #111B34 100%);
    width: 99vw;
}

main .programming-cards-container {
    display: flex;
    flex-direction: column;
}

.fade-container div h2,
.payment-main .payment-container h2 {
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 54px;
    color: var(--base-color1);
    width: auto;
    text-align: center;
    margin: 60px 0 56px;
}

main .programming-cards-container .cards-container {
    display: flex;
    gap: 75px;
    place-self: center;
    /* max-width: 120%; */
    width: 120%;
}

main .programming-cards-container .cards-container .card {
    flex-direction: column;
    display: flex;
    width: 408px;
    height: auto;
    padding-bottom: 28px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: var(--background-color3);
}

main .programming-cards-container .cards-container .card figure img {
    border-radius: 16px 16px 0px 0px;
}

main .programming-cards-container .cards-container .card div {
    display: flex;
    place-self: center;
    flex-direction: column;
    margin: 0 37.5px;
    /* width: 70%; */
}

main .programming-cards-container .cards-container .card div h6 {
    font-size: 22px;
    font-weight: 700;
}

main .camp-pic {
    width: 100vw;
    place-self: center;
}

main .fade-container .about-place {
    display: flex;
    flex-direction: column;
}

main .fade-container .about-place .about-place-content {
    display: flex;
    flex-direction: row;
    width: 85vw;
    place-self: center;
    justify-content: space-around;
    align-items: center;
}

main .fade-container .about-place .about-place-content p {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: var(--base-color1);
    width: 48%;
}

main .fade-container .about-place .about-place-content figure video {
    border-radius: 16px;
}

main .fade-container .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fade-container .schedule iframe {
    border-radius: 16px;
}

main .fade-container .facilities div {
    display: flex;
    flex-direction: row;
    place-self: center;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

main .fade-container .facilities div .facilities-pic img {
    border-radius: 16px;
}

/* Contenedor principal */
.prices {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}

.prices .price-cards .plan-header h2 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--base-color1);
    /* margin-bottom: 2rem; */
    margin: 0;
}

.price-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

/* Tarjeta de precios */
.plan-card {
    background: var(--clear-sky-light2);
    border: 1px solid #bbb;
    border-radius: 16px;
    padding: 30px 16px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 250ms ease-in-out;
    min-height: 515px;
}

/* .plan-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1rem;
} */

.plan-title {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.plan-type {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

/* Precio */
.plan-price {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 0;
}

/* Descripción */
.plan-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.description-title {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.description-text {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Características */
.plan-features {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.feature-text {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Hover & Focus */
.plan-card:hover,
.plan-card:focus {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: #EBF0FF;
    border-color: #2F54BE;
    outline: none;
}

.quienes-somos-main .fade-container {
    background: linear-gradient(180deg, #BCD4F6 0.16%, #729EE5 21.7%, #325798 82.22%, #111B34 90.64%);
}

.quienes-somos-main .fade-container .who-we-are-container {
    display: flex;
    flex-direction: column;
}

.quienes-somos-main .fade-container .who-we-are-container {
    display: flex;
    flex-direction: column;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container {
    display: flex;
    flex-direction: column;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .who-we-are-card {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    max-width: 1135px;
    place-self: center;
    background-color: var(--clear-sky-light2);
    gap: 32px;
    align-items: center;
    margin-bottom: 66px;
}

.quienes-somos-main figure {
    display: inline-block;
    /* O 'block' si prefieres */
    width: fit-content;
    /* Se ajusta al tamaño de la imagen */
    height: auto;
    /* Ajuste automático de altura */
    margin: 0;
    /* Opcional, para evitar espacios adicionales */
}

.quienes-somos-main figure img {
    display: block;
    /* Evita espacios adicionales por imágenes en línea */
    width: auto;
    /* O 100% si necesitas responsividad */
    height: auto;
    /* Mantiene la proporción */
}

/* .quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .who-we-are-card figure {
        display: flex;
        align-items: stretch;
        height: 100%;
    } */

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .left-i {
    border-radius: 16px 0px 0px 16px;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .right-i {
    border-radius: 0px 16px 16px 0px;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .who-we-are-card hr {
    color: #000;
    height: 290px;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .who-we-are-card p {
    font-size: 24px;
    font-weight: 500;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .left-t {
    margin-left: 20px;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .right-t {
    margin-right: 20px;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .small-who-we-are-card-container {
    display: flex;
    flex-direction: column;
    max-width: 1135px;
    place-self: center;
}

.quienes-somos-main .fade-container .who-we-are-container .who-we-are-cards-container .small-who-we-are-card-container h4 {
    color: var(--base-color1);
    font-family: "Luckiest Guy";
    font-size: 48px;
    margin-bottom: 8px;
}

.quienes-somos-main .fade-container .our-monitors-container {
    margin-bottom: 66px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container {
    max-width: 1135px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    place-self: center;
    gap: 84px;
    justify-content: center;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 322px;
    background-color: var(--brand-color);
    border-radius: 16px;
    padding-bottom: 24px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card>figure img {
    border-radius: 16px 16px 0px 0px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 36px;
    gap: 24px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content .monitor-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content .monitor-info h5 {
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content .monitor-info p {
    color: var(--base-color1);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content hr {
    height: 1px;
    border-color: var(--base-color1);
}

.quienes-somos-main .fade-container .our-monitors-container .our-monitors-cards-container .our-monitors-card .monitor-content div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.quienes-somos-main .fade-container .faqs-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
}

.quienes-somos-main .fade-container .contact-container {
    display: flex;
    flex-direction: column;
}

.quienes-somos-main .fade-container .faqs-container h2,
.quienes-somos-main .fade-container .contact-container h2 {
    color: var(--clear-sky-light2);
}

.quienes-somos-main .fade-container .faqs-container .faq-cards-container {
    display: flex;
    flex-direction: column;
    width: 1135px;
    place-self: center;
    gap: 32px;
}

.quienes-somos-main .fade-container .faqs-container .faq-cards-container .faq-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
}

.quienes-somos-main .fade-container .faqs-container .faq-cards-container .faq-card .faq-card-content {
    display: flex;
    flex-direction: row;
    background-color: var(--clear-sky-light3);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.quienes-somos-main .fade-container .faqs-container .faq-cards-container .faq-card .faq-card-content h6 {
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
}

.quienes-somos-main .fade-container .faqs-container .faq-cards-container .faq-card .faq-card-content figure img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.quienes-somos-main .fade-container .contact-container .ways-to-contact-container {
    display: flex;
    flex-direction: row;
    max-width: 1135px;
    place-self: center;
    gap: 70px;
}

.quienes-somos-main .fade-container .contact-container .ways-to-contact-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    width: 100%;
}

.quienes-somos-main .fade-container .contact-container .ways-to-contact-container div p {
    color: var(--clear-sky-light2);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.quienes-somos-main .fade-container .contact-container .ways-to-contact-container hr {
    border-color: var(--clear-sky-light2);
}

.quienes-somos-main .fade-container .contact-container .incident-form-container {
    display: flex;
    flex-direction: column;
    max-width: 1135px;
    place-self: center;
}

.quienes-somos-main .fade-container .contact-container .incident-form-container h4 {
    color: var(--);
    font-family: "Luckiest Guy";
    font-size: 48px;
    margin: 80px 0 36px 0;
    color: var(--clear-sky-light2);
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form div {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form div label {
    color: var(--clear-sky-light2);
    font-size: 32px;
    font-weight: 700;
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form div input {
    width: 100%;
    min-height: 36px;
    height: auto;
    border-radius: 10px;
    border: none;
    background-color: var(--clear-sky-light2);
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form .incident-text input {
    min-height: 84px;
}

.payment-main {
    background-color: var(--brand-color);
    padding: 40px 0;
}

.quienes-somos-main .fade-container .contact-container .incident-form-container form button {
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: 56%;
    padding: 12px
        /* height:  ; */
}

.overlay-sign-up,
.overlay-sign-in {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.sign-up-container,
.sign-in-container {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin-left: 0%;
    height: auto;
    width: 687px;
    background-color: var(--light-blue);
    padding: 34px;
    z-index: 12;
    border-radius: 16px;
}


.sign-up-container>*,
.sign-in-container>* {
    width: 100%;
}

.sign-up-container h1,
.sign-in-container h1 {
    color: var(--dark-blue);
    text-align: center;
    font-family: "Luckiest Guy", serif;
    font-size: 64px;
    font-weight: 700;
    margin: 24px 0;
}

.sign-up-container form,
.sign-in-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-container form>*,
.sign-in-container form>* {
    margin-bottom: 24px;
}

.sign-up-container form div,
.sign-in-container form div {
    width: 100%;
}

.sign-up-container form div label,
.sign-in-container form div label {
    width: 100%;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.sign-up-container form div label+input,
.sign-in-container form div label+input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.62);
    background: #FFF;
}

.sign-up-container form div input,
.sign-in-container form div input {
    height: 15px;
    width: 15px;
}

.sign-up-container form div input+label,
.sign-in-container form div input+label {
    display: inline;
    margin-left: 4px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.sign-up-container form p,
.sign-in-container form p {
    color: var(--dark-blue);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    width: 91%;
}

.sign-up-container form button,
.sign-in-container form button {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    background: var(--dark-blue);
    border-radius: 9999px;
    border: none;
}

.sign-up-container hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #111b34;
    margin-bottom: 24px;
}

.sign-in-container hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #111b34;
    margin: 24px 0;
}

.sign-up-container .sign-up-social-media,
.sign-in-container .sign-up-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-container .sign-up-social-media>*,
.sign-in-container .sign-up-social-media>* {
    width: 100%;
}

.sign-up-container .sign-up-social-media h3,
.sign-in-container .sign-up-social-media h3 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sign-up-container .sign-up-social-media .sign-up-social-media-icons,
.sign-in-container .sign-up-social-media .sign-up-social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sign-up-container .sign-up-social-media .sign-up-social-media-icons div,
.sign-in-container .sign-up-social-media .sign-up-social-media-icons div {
    width: 86px;
    height: 86px;
    padding: 7px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
}

/* 
.overlay-sign-in {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 300;
} */
/* 
.sign-in-container {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0%;
    height: auto;
    width: 687px;
    background-color: var(--light-blue);
    padding: 34px;
    border-radius: 16px;
    z-index: 12;
}

.sign-in-container h1 {
    color: var(--dark-blue);
    text-align: center;
    font-family: "Luckiest Guy", serif;
    font-size: 64px;
    font-weight: 700;
    margin: 24px 0;
}

.sign-in-container .sign-up-social-media h3 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
} */


.login-container {
    /* justify-content: center; */
    align-items: center;
    height: auto;
    width: 687px;
    background-color: var(--light-blue);
    padding: 34px;
    margin: 0 auto;
    margin-top: 30px;
}

.login-container h1 {
    color: var(--dark-blue);
    text-align: center;
    font-family: "Eczar", serif;
    font-size: 64px;
    font-weight: 700;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login,
.register {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login {
    background: #112b54;
}

.register {
    color: #112b54;
    border: 2px solid #112b54;
    background: #bfd6e8;
    font-style: #112b54;
}

.register:hover {
    background: #0f182e;
    color: #FFF;
}

.login:hover {
    background: #0f182e;
    color: #FFF;
}


.messageLogin {
    color: #111b34;
    font-weight: bold;
    padding: 10px;
}

#email,
#password {
    border-radius: 10px;
    border: 1px solid #112b54;
    padding: 10px;
    width: 50%;
    background-color: #FFF;
}

.login-container hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #111b34;
    margin-bottom: 24px;
}

.sign-up-social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sign-up-social-media-icons div {
    width: 68px;
    height: 68px;
    padding: 7px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
}

.access {
    text-align: center;
    padding-bottom: 10px;
    color: #111b34;
    font-weight: bold;
}

/* Perfil Tutor */

/* main .profile {
    display: flex;
    flex-direction: column;
    width: auto;
} */

.profile-container-global {
    display: flex;
    margin-left: auto;
}

.profile {
    width: 100%;
    max-width: 300px;
    margin: 32px;
    padding: 2rem;
    min-height: 500px;
    margin-left: 5%;
}

.profile-card {
    background: var(--clear-sky-light2);
    width: 280px;
    border: 1px solid #bbb;
    border-radius: 16px;
    padding: 30px 16px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 250ms ease-in-out;
}

.profile-title {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.children-title {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
    max-width: 150px;
    margin: 0;
    position: relative;
    top: 60px;
}

.child-title {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 24px;
    font-weight: 700;
    max-width: 150px;
}

.profile-type {
    font-family: 'Poppins', sans-serif;
    color: var(--base-color1);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.profile-card-info {
    background: var(--clear-sky-light2);
    width: 280px;
    border: 1px solid #bbb;
    border-radius: 16px;
    padding: 30px 16px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 250ms ease-in-out;
}

.info-title {
    color: var(--Color-fondo-1, #111B34);
    /* text-align: center; */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.profile-container {
    display: flex;
    width: 277px;
    height: 459px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.children-container {
    display: flex;
    height: 494px;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.line {
    height: 1px;
    width: 100%;
}

.children-card {
    display: flex;
    width: 271px;
    height: 335px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(113, 113, 113, 0.25);
}

.children-text {
    width: 234px;
    color: var(--Color-fondo-1, #111B34);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.154px;
}

.weekly-button {
    display: flex;
    padding: 13px 32px;
    width: 234px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    align-self: stretch;
    border-radius: 28px;
    background: var(--Color-de-Contraste, #FF5A5F);
}

.edit-button {
    display: flex;
    width: 194px;
    height: 45px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    /* border-radius: 5px;  */
    background: var(--Color-de-Contraste, #FF5A5F);
    margin-left: 85%;
}

/* Progreso */

.exp {
    position: relative;
    align-content: center;
    margin-left: 20%;
    width: 1213px;
    height: 24px;
    flex-shrink: 0;
    background-color: rgba(0, 102, 255, 0.22);
    fill: rgba(0, 102, 255, 0.22);
    border-radius: 16px;
}

.activities-title {
    color: var(--base-color1);
    width: auto;
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    position: relative;
    max-width: 400px;
    margin-left: 20%;
}

.habilities-title {
    color: var(--base-color1);
    width: auto;
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    position: relative;
    max-width: 400px;
    margin-left: 60%;
    bottom: 70px;
}

.text-activities {
    width: 400px;
    height: 345px;
    flex-shrink: 0;
    margin-left: 20%;
}

.text-habilities {
    position: relative;
    width: 400px;
    height: 345px;
    flex-shrink: 0;
    margin-left: 60%;
    bottom: 350px;
}

.comentaries-title {
    color: var(--base-color1);
    width: auto;
    font-family: "Luckiest Guy", serif;
    font-size: 56px;
    font-weight: 400;
    position: relative;
    max-width: 400px;
    margin-left: 20%;
    bottom: 400px;
}

.comentaries-box {
    position: relative;
    width: 610px;
    height: 352px;
    margin-left: 60%;
    flex-shrink: 0;
    border: 3px solid #000;
    background: rgba(217, 217, 217, 0.00);
    background-color: var(--clear-sky-light2);
    bottom: 450px;
    align-content: center;
    padding: 50px;
}

/* Dashboard Monitor */
.container {
    overflow-y: hidden;
}

/* Sidebar */
.sidebar {
    width: 14vw;
    height: 92vh;
    background: #111B34;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.dashboard-profile {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.dashboard-container {
    width: 86vw;
    height: 92vh;
    display: flex;
    padding: 16px 44px 16px 44px;
    flex-direction: column;
    gap: 20px;
}

.dashboard-container button {
    width: 15%;
    font-size: 16px;
    padding: 12px;
}

.dashboard-container>div {
    width: 100%;
}

.dashboard-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.notes-changes-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.notes-changes-container>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: 141px;
    height: 57px;
    /* background: white;
    border: 1.13px solid #D3120B;
    position: relative; */

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    color: #D9E9F5;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 20px;
    text-align: center;
}

.menu-item.active {
    background: #9ab2c9;
    color: #F1F8FF;
    font-weight: 700;
    letter-spacing: 0.30px;
    border-radius: 10px;
    top: 5px;
}

/* Main Content */
.main-content {
    background: #9CB8D4;
    display: flex;
    overflow-y: auto;
}

.header {
    height: 8vh;
    background: #111B34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    flex-direction: row;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-avatar {
    width: 44px;
    height: 44.63px;
    background: #D8D8D8;
    border-radius: 50%;
}

.user-details {
    color: #9CB8D4;
}

.user-name {
    font-size: 14px;
    font-weight: 700;
}

.user-role {
    font-size: 12px;
    font-weight: 600;
    color: rgba(191, 215, 234, 0.96);
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language {
    color: #D9E9F5;
    font-size: 14px;
    font-weight: 600;
}

/* Dashboard Title */
.dashboard-title {
    color: #111B34;
    font-size: 32px;
    font-weight: 700;
}

/* Activity Card */
.activity-card {
    display: flex;
    flex-direction: column;
    background: #D9E9F5;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 38px 46px;
    gap: 24px;
}

.activity-details {
    display: flex;
    flex-direction: row;
    gap: 44px;
    align-items: center;
    justify-content: space-between;
}

.card-header {
    color: #111B34;
    font-size: 24px;
    font-weight: 700;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 26px;
    gap: 16px;
}

.activity-title {
    color: #111B34;
    font-size: 30px;
    font-weight: 700;
    line-height: 46.87px;
}

.activity-time {
    color: #111B34;
    font-size: 64px;
    font-weight: 700;
    line-height: 83.32px;
}

.activity-description {
    color: #111B34;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.50px;
}

/* Notes Card */
.notes-card {
    min-height: 300px;
    background: #D9E9F5;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 12px 27px;
}

.notes-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.note-item {
    background: #7EB2EE;
    padding: 9px 16px;
    border-radius: 8px;
    color: #111B34;
    font-size: 14px;
    font-weight: 400;
}

/* Changes Card */
.changes-card {
    min-height: 300px;
    background: #D9E9F5;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 12px 27px;
}

.changes-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.change-item {
    background: #EED47E;
    padding: 9px 16px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

/* Cambios botones para el JS */
.contenido {
    display: none;
}

.contenido.active {
    display: block;
}

.menu-item {
    cursor: pointer;
}

.menu-item.activo {
    background-color: var(--brand-color);
    color: var(--dark-blue);
    border-radius: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

.table-title {
    background-color: var(--brand-color);
}

.table-row {
    background-color: #d6e6f2;
}

.cronograma-table {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cronograma-table th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cronograma-table th {
    background-color: var(--clear-sky-light2);
    color: var(--base-color1);
}

.cronograma-table img {
    width: 25px;
    height: 25px;
}

.cronograma-table td {
    height: 50px;
    vertical-align: middle;
}

.editable {
    cursor: pointer;
}

.editable input {
    width: 90%;
    height: 80%;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.menu-options {
    display: flex;
    max-width: 254px;
    width: 254px;
    height: 357px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.70);
}

.button-options {
    display: flex;
    width: 200px;
    height: 55px;
    padding: 18px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    background: var(--Cielo-sereno-oscuro-3, #9CB8D4);
}

.dashboard-menu {
    width: 86vw;
    height: 92vh;
    display: flex;
    padding: 16px 44px 16px 44px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-content {
    width: 70%;
    height: 829px;
    flex-shrink: 0;
    margin-top: 70px;
    background: var(--Cielo-sereno-claro-3, #D9E9F5);
}

.menu-content-default {
    display: flex;
    /* width: 511px;
    height: 65px; */
    margin-top: 40%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    color: var(--Color-fondo-1, #111B34);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-options-selected {
    display: flex;
    width: 200px;
    height: 55px;
    padding: 18px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    background: var(--Cielo-sereno-oscuro-1, #5A7A94);
}

.menu-content-default-title {
    display: flex;
    /* width: 511px;
    height: 65px; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    color: var(--Color-fondo-1, #111B34);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-content-one {
    display: block;
    margin: auto;
    margin-top: 100px;
    /* width: 511px;
    height: 65px; */
    /* margin-top: 40%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.form-crear-monitor {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: 10px 23px;
}

.form-crear-monitor form {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-crear-monitor form div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-monitor-card {
    margin-top: 23px;
    display: flex;
    width: 277px;
    max-height: 330px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Cielo-sereno-claro-3, #D9E9F5);
    box-shadow: 0px 0px 4px 0px rgba(70, 70, 70, 0.25);
}

.nombre-grupo {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 40px;
    padding: 9px 16px 12px 16px;
    margin: 12px auto;
    /* align-items: center; */
    gap: 270px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Cielo-sereno-oscuro-1, #5A7A94);
}

#button-crear-grupo {
    display: flex;
    width: 320px;
    height: 49px;
    padding: 10px;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--Cielo-sereno-claro-3, #D9E9F5);
    ;
    background: #141414;
}

.nombre-monitor {
    display: flex;
    padding: 9px 11px 12px 16px;
    justify-content: center;
    /* align-items: center; */
    gap: 569px;
    align-self: stretch;
    flex-direction: column;
    max-width: 800px;
    max-height: 40px;
    margin: 12px auto;
    border-radius: 8px;
    background: var(--Cielo-sereno-oscuro-1, #5A7A94);
}

/* 
display: flex;
    width: 194px;
    height: 45px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    /* border-radius: 5px;  */

.nombre-grupos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-blue);
    border-radius: 15px;
    height: 50px;
    width: 250px;
    color: white;
    place-self: center;
    font-size: 18px;
}

.contenedor-perfiles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
    cursor: pointer;
}


.contenedor-perfiles div {
    gap: 36px;
    display: flex;
    align-items: center;
}

.contenedor-perfiles div p {
    background-color: var(--clear-sky-light2);
    padding: 8px;
    width: 26vw;
    color: var(--base-color1);
    font-size: 18px;
    font-weight: 700;
}

.contenedor-perfiles div img {
    border-radius: 50%;
}

.contacto-alumno {
    width: 20vw;
    height: 30vh;
    flex-direction: column;
    border: 3px solid var(--dark-blue);
    background: var(--clear-sky-light2);
    margin-top: 25px;
}

.contenedor-oculto {
    display: flex;
    flex-direction: row;
    gap: 400px;
}

#button-revisar-inscripcion {
    display: flex;
    width: 320px;
    height: 49px;
    padding: 10px;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--Cielo-sereno-claro-3, #D9E9F5);
    background: #141414;
    place-self: end;
    margin-bottom: 5px;
}

.nombre-inscripcion {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 40px;
    padding: 9px 16px 12px 16px;
    margin: 12px auto;
    /* align-items: center; */
    gap: 270px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Cielo-sereno-oscuro-1, #5A7A94);
}

.nombre-incidencia {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 40px;
    padding: 9px 16px 12px 16px;
    margin: 12px auto;
    /* align-items: center; */
    gap: 270px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Cielo-sereno-oscuro-1, #5A7A94);
}

.coment-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
    align-items: center;
}

#respuesta-soporte {
    width: 541px;
    height: 305px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
}

#texto-responder-incidencia {
    width: auto;
    height: 26px;
    flex-shrink: 0;
    color: var(--Color-fondo-1, #111B34);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 480px) {
    main .fade-container .prices .price-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 480px) and (max-width: 780px) {
    main .fade-container .prices .price-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}